{% load i18n %}
<div class="modal fade" id="mRefOther" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" action="{% url 'ref_job_to_other' %}" id="fRefJob">
                    <div class="form-group">
                        <label class="">{% trans 'reference description' %}</label>
                        <textarea class="form-control" name="rf" placeholder="{% trans 'reference description' %}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="rg" class="">{% trans 'department' %}</label>
                        <select id="rg" name="rg" data-select="1"></select>
                    </div>
                    {% csrf_token %}
                    <input type="hidden" value="" name="rfj" id="rfj"/>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info">{% trans 'reference' %}</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default">{% trans 'cancel' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
