{% load i18n %}
{% load static %}
{% load assets %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'login' %}-{% trans 'faratar' %}</title>
    {% assets 'css_all'%}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link href="{% static 'css/system/Fonts.css' %}" rel="stylesheet">
</head>
<body class="gray-bg rtls">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">F+</h1>
            </div>
            <h3>{% trans 'welcome to faratar crm' %}</h3>
            <p>
            </p>
            <p>{% trans 'please login to see your account state' %}</p>
            <form class="m-t" role="form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input name="u" type="text" class="form-control" placeholder="{% trans 'username' %}" required="">
                </div>
                <div class="form-group">
                    <input name="p" type="password" class="form-control" placeholder="{% trans 'password' %}" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">{% trans 'login' %}</button>

                <a href="{% url 'forget_password' %}"><small>{% trans 'forget password' %}</small></a>
                <br/>
                <a href="{% url 'register_user' %}"><small>{% trans 'register' %}</small></a>
            </form>
            <p class="m-t"> <small>{% trans 'all rights reserved for gostaresh ertebatat noor' %} &copy; 1395</small> </p>
        </div>
    </div>
    {% assets 'js_all' %}
        <script language="javascript" type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets filters='jsmin', output='login.js', 'js/system/login/login.js' %}
        <script language="javascript" type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>
