{% load static %}
{% load i18n %}
{% load assets %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'register' %}-{% trans 'faratar' %}</title>
        {% assets 'css_all' %}
            <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}"/>
        {% endassets %}
    <link href="{% static 'css/system/Fonts.css' %}" rel="stylesheet">

</head>
<body class="gray-bg rtls">

<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <img src="{% static 'img/logo 180.png' %}" class="logo-name">
            </div><br/>
            <h3>{% trans 'Registration Form' %}</h3>
            <br>
            <form class="m-t" role="form" id="fVisitor" action="{% url 'register_visitor' %}">
                <div class="form-group">
                    <input name="n" type="text" class="form-control" placeholder="{% trans 'first name and last name' %}">
                </div>
                <div class="form-group">
                    <input name="t" type="tel" class="form-control" placeholder="{% trans 'telephone' %}">
                </div>
                <div class="form-group">
                    <input name="m" type="tel" class="form-control" placeholder="{% trans 'mobile' %}">
                </div>
                <div class="form-group">
                    <input type="email" name="e" value="" class="form-control" placeholder="{% trans 'email' %}"/>
                </div>
                <div class="form-group">
                    <input name="p" type="password" class="form-control" placeholder="{% trans 'password' %}"/>
                </div>
                <div class="form-group">
                    <input name="rp" type="password" class="form-control" placeholder="{% trans 'retype' %}"/>
                </div>
                <div class="row">
                    <div class="radio radio-inline radio-primary radio-circle radio-rtl">
                        <input id="male" type="radio" name="gn" value="1">
                        <label for="male">{% trans 'male' %}</label>
                    </div> <!--male-->
                    <div class="radio  radio-inline radio-primary radio-circle radio-rtl">
                        <input id="woman" type="radio" name="gn" value="0">
                        <label for="woman">{% trans 'woman' %}</label>
                    </div> <!--woman-->
                </div>
                <hr>
                <button type="submit" class="btn btn-primary block full-width m-b">{% trans 'register' %}</button>
            </form>
        </div>
    </div>
    {% assets 'js_all' %}
        <script language="javascript" type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets filters='jsmin', output='rgstvis.js', 'js/system/login/register_visitor.js' %}
        <script language="javascript" type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>


</html>