{% extends 'base.html' %}
{% load i18n%}
{% block title %}
    {% trans 'change password' %}
{% endblock %}
{% block page %}
    {% trans 'change password' %}
{% endblock %}
{% block sitemap %}
    <li>{% trans 'settings' %}</li>
    <li>{% trans 'change password' %}</li>
{% endblock %}
{% block body %}
    <form method="post">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="text-center">
                        <div class="col-md-5 col-lg-5">
                            <div class="panel panel-primary">
                                <div class="panel-heading text-center">
                                    {% trans 'crm password' %}<br/><strong>{{ u.username }}</strong>
                                </div>
                                <div class="panel-body">
                                    <form class="form-inline" role="form">
                                        {% if self_password %}
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="txtPassword"  autocomplete="off" title="{% trans 'current password' %}" placeholder="{% trans 'current password' %}"/>
                                            </div>
                                        {% else %}
                                            <input type="hidden" name="uid" value="{{ u.pk }}"/>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="txtNewPassword"  autocomplete="off" title="{% trans 'new password' %}" placeholder="{% trans 'new password' %}"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="txtRetype"  autocomplete="off" title="{% trans 'retype' %}" placeholder="{% trans 'retype' %}"/>
                                        </div>
                                        <div class="form-group">
                                            <button name="crm" type="submit" class="btn btn-sm btn-primary">{% trans 'change password' %}</button>
                                        </div>
                                        <input type="hidden" value="{{ u.pk }}" name="uid"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.is_staff %}
                    {% if not self_password %}
                        {% if not u.is_staff and not u.is_superuser %}
                            <div class="row">
                                <div class="text-center">
                                    <div class="col-md-5 col-lg-5">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading text-center">
                                                {% trans 'ibs password' %}<br/><strong>{{ u.username }}</strong>
                                            </div>
                                            <div class="panel-body">
                                                <form method="post" role="form">
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" name="txtIbsPassword" placeholder="{% trans 'new ibs password' %}"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" name="txtIbsRetype" placeholder="{% trans 'retype ibs password' %}"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <button name="ibs" type="submit" class="btn btn-sm btn-primary">{% trans 'change password' %}</button>
                                                    </div>
                                                    <input type="hidden" value="{{ u.pk }}" name="uid"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% csrf_token %}
            </div>
        </div>
    </form>
{% endblock %}