{% load static %}
{% load i18n %}
<div class="modal fade" id="mAssignTemplate" tabindex="">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form id="fAssignTemplate" action="{% url 'service_float_template_assign' %}">
                    {% if perms.CRM.add_assignedusertemplate %}
                        <div class="form-group">
                            <select class="form-control" name="u" data-placeholder="{% trans 'user' %}" id="sUsersAuto"></select>
                        </div>
                    {% endif %}
                    {% if perms.CRM.add_assignedtowertemplate %}
                        <div class="form-group">
                            <select name="t" data-placeholder="{% trans 'tower' %}" id="sTowerAuto"></select>
                        </div>
                    {% endif %}
                    <input type="hidden" value="" name="pk"/>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-check"></i> <span
                                class="hidden-sm hidden-xs">{% trans 'add' %}</span></button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i
                                class="fa fa-remove"></i> <span class="hidden-xs hidden-sm">{% trans 'cancel' %}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript" src="{% static 'js/system/services/AssignTemplate.js' %}"></script>
