{% load i18n %}
<div class="modal fade" id="mView">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <table class="table table-bordered" id="tViewHolder">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'name' %}</th>
                            <th>{% trans 'price' %}</th>
                            <th>{% trans 'value' %}</th>
                            <th>{% trans 'option price' %}</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>