{% load i18n %}
    <div class="modal fade" id="mAddNewEquipmentGroup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="fAddNewEquipmentGroup">
                        <div class="form-group">
                            <input type="text" value="" name="n" class="form-control input-sm" placeholder="{% trans 'name' %}"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="d" value="" class="form-control input-sm" placeholder="{% trans 'description' %}"/>
                            <input type="hidden" value="" name="pk"/>
                        </div>
                        <div class="form-group">
                            <select id="sTypes" name="t" data-select="1"></select>
                        </div>
                        <div class="form-group">
                            <select id="sCodes" name="c" data-select="1"></select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-check"></i><span class="hidden-sm hidden-xs">{% trans 'add' %}</span></button>
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-remove"></i><span class="hidden-sm hidden-xs">{% trans 'cancel' %}</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
